worker_processes 1;
daemon off;
error_log logs/error.log info;
pid logs/nginx.pid;
env HMAC_SECRET_KEY;
env SECRET_KEY;

events {
    worker_connections 1024;
}

http {
    include configs/conf.d/log.conf;
    include configs/conf.d/proxy.conf;
    

    server {
        listen 8081;
        server_name reverse_proxy;

        proxy_set_header Host $host;
        
        include configs/conf.d/locations/*.conf;
    }
}